#### Lectura de ficheiros con tweets completos - Algunhas preguntas interesantes sobre os tweets

In [ ]:
# Exercicio de repaso de consultas con spark.sql, lecturas, escrituras, gráficas, ....

# Responde ás preguntas seguintes para coñecer un pouco mellor a estrutura dun Tweet
# Realiza as consultas tanto en "dot notation" como en "SQL notation"
# Exporta os datos de cada consulta CSV
# Visualiza os resultados cunha gráfica (seaborn?)

# Nota: podes practicar con un extracto do ficheiro final e despois executalo co 
# ficheiro completo

In [ ]:
# Realiza as consultas sobre o ficheiro con Tweets: tochotweets proporcionado polo profesor

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
# ficheiro: tochotweets.json
ficheiro = "file:///home/hduser/bigdata-aplicado/datasets/tweets_reais/tochotweets.json"
df = spark.read.json(ficheiro)

In [ ]:
# Miro o schema
# A diferenza do exemplo visto anteriormente, un tweet real ten un schema moito mais amplo
# con moita mais información
df.printSchema()

In [ ]:
# Crea unha vista sobre a que facer consultsa con SQL
df.createOrReplaceTempView('tweets')

In [ ]:
# 1. Cales son os países con máis tweets?
# Son fiables os datos?

In [ ]:
# dot notation
df.filter(df.place.country != 'null').groupBy('place.country').count().orderBy('count',ascending=False).show()

In [ ]:
# SQL notation
tweetsxpais = spark.sql("SELECT place.country, count(*) as mensaxes FROM tweets WHERE place.country IS NOT NULL GROUP BY place.country ORDER BY mensaxes DESC")
tweetsxpais.show()

In [ ]:
topcountries = tweetsxpais.toPandas().iloc[:10]
ax = sns.barplot(data=topcountries,y='country',x='mensaxes')

In [ ]:
# Escritura a ficheiro
tweetsxpais.write.csv('file:///home/hduser/output/tweets/tweetsxpais.csv')

In [ ]:
tweetsxpais.toPandas().to_csv('/home/hduser/output/tweets/tweesxpais_pandas.csv')

In [ ]:
# 2. Cales é o idioma máis presente na rede?
# Son fiables os datos?

In [ ]:
# dot notation
df.filter(df.lang != 'null').groupBy('lang').count().orderBy('count',ascending=False).show()

In [ ]:
# sql notation
tweetsxlingua = spark.sql("SELECT lang, count(*) AS conta FROM tweets GROUP BY lang ORDER BY conta DESC")
tweetsxlingua.show()

In [ ]:
toplinguas = tweetsxlingua.toPandas().iloc[:10]
ax = sns.barplot(data=toplinguas,y='lang',x='conta')

In [ ]:
# Escritura a ficheiro
tweetsxlingua.write.csv('file:///home/hduser/output/tweets/tweetsxlingua.csv',sep=';')
tweetsxlingua.toPandas().to_csv('/home/hduser/output/tweets/tweesxlingua_pandas.csv',sep=';',index=None)

In [ ]:
# 3. Tweeteiros máis activos

In [ ]:
# dot notation
df.filter(df.user.screen_name != 'null').groupBy(df.user.screen_name).count().orderBy('count',ascending=False).show()

In [ ]:
# SQL notation
tuiteirosactivos = spark.sql("SELECT user.screen_name, count(*) AS conta \
          FROM tweets WHERE user.screen_name IS NOT NULL \
          GROUP BY user.screen_name \
          ORDER BY conta DESC")
tuiteirosactivos.show()

In [ ]:
toptuiteiros = tuiteirosactivos.toPandas().iloc[:10]
ax = sns.barplot(data=toptuiteiros,y='screen_name',x='conta')

In [ ]:
# Escritura a ficheiro
tuiteirosactivos.write.csv('file:///home/hduser/output/tweets/tuiteirosactivos.csv',sep=';')
tuiteirosactivos.toPandas().to_csv('/home/hduser/output/tweets/tuiteirosactivos_pandas.csv',sep=';',index=None)

In [ ]:
# 4. Tweeteiros con máis seguidores

In [ ]:
# dot notation
df.select(df.user.screen_name,df.user.followers_count.alias('followers')).orderBy('followers',ascending=False).show()

In [ ]:
# SQL notation
tfollowers = spark.sql('SELECT user.screen_name AS user, user.followers_count AS followers FROM tweets ORDER BY followers DESC')
tfollowers.show()

In [ ]:
topfollowers = tfollowers.toPandas().iloc[0:10]
ax = sns.barplot(data=topfollowers,y='user',x='followers')

In [ ]:
# Escritura a ficheiro
tfollowers.write.csv('file:///home/hduser/output/tweets/tfollowers.csv',sep=';')
tfollowers.toPandas().to_csv('/home/hduser/output/tweets/tfollowers_pandas.csv',sep=';',index=None)